
<% if (successMsg) { %>
<div class="" id="">
    <div class="modal-content">
        <h5 class="success-message">
            <%= successMsg %>
        </h5>
        
    </div>

</div>


<style>
 .success-message{
     color: #ee6e73;
 }
 .modal-content{
     display: flex;
     justify-content: center;
     margin-right: 0px;
     
 }
</style>

<% } %>