<footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Fast Food</h5>
              <p class="grey-text text-lighten-4">Order for your meal and get it delivered to your location in one hour</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Contact Me</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="https://github.com/aminajao" target="_blank"><i class="fab  fa-github"></i> <span>Github</span></a> </li>
                <li><a class="grey-text text-lighten-3" href="https://twitter.com/amin_ajao" target="_blank"><i class="fab fa-twitter"></i> <span>Twitter</span></a> </li>
                <li><a class="grey-text text-lighten-3"><i class="far fa-envelope"></i> <span>Aminajao96@gmail.com</span></a> </li>
                <li><a class="grey-text text-lighten-3"><i class="fas fa-phone-square"></i> <span>+2348125306468</span></a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2019 Bildev, All rights reserved
          <a class="grey-text text-lighten-4 right" href="#!">Made with <i class="far fa-heart"></i> by Ajao Al-Amin</a>
          </div>
        </div>
      </footer>