<%- include('includes/head.ejs') %>

</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="err500">
            <h1>Some error occured</h1>
            <h3>This problem is from us, we are working on it!!!</h3>
            <a href="/shop" class="btn color">Go back</a>
    </div>
    <%- include('../includes/footer.ejs') %>
<%- include('includes/end.ejs') %>













