form.logout-form{
    margin-top: 14px !important;
    height: 84px !important;
    
  }
.orders__products-item{
  font-size: 30px;
  color: #693c3c;
  display: flex;
  }
  .orders__products-item h4{
    width: 500px;
  }
  .orders{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 290px;
  }
  h4.quantity{
    margin-left: 20px;
  }
  .reduce-font{
    font-size: 20px !important;
    margin-top: 5px !important;
  }
  @media only screen and (max-width: 1200px){
    .orders{
      margin-left: 40px;
    }
  }
main{
  min-height: 400px;
}